@font-face {
    font-family: "HelveticaNeue-Thin";
    src: url("../fonts/helveticaNeue/HelveticaNeue-Thin.otf");
}
@font-face {
    font-family: "HelveticaNeue-Light";
    src: url("../fonts/helveticaNeue/HelveticaNeue-Light.otf");
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/helveticaNeue/HelveticaNeue.otf");
}
@font-face {
    font-family: "RussoOne-Regular";
    src: url("../fonts/russoOne/RussoOne-Regular.ttf");
}
body {
    font-family: 'HelveticaNeue-Light';
    color: #212121;
    background-color: #212121;
}
footer {
    background: #CC2C2C;
    color: #fff;
}
footer .links {
    padding: 50px 0;
}
footer .links h1 {
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    margin-top: 0;
}
footer .links ul {
    padding: 0;
    text-align: center;
    margin: 0 auto;
}
footer .links ul li {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}
footer .links .redes ul li {
    text-align: left;
    font-size: 22px;
    padding-left: 50px;
}
footer .links .redes ul li i {
    font-size: 28px;
    position: absolute;
    margin-top: -3px;
    left: 20px;
    text-align: center;
}
footer .links .redes h2{
    font-size: 22px;
    font-weight: 100;
}
footer .footer {
    padding: 20px;
    height: 60px;
    background: #212121;
}
@media (max-width: 769px) {
    footer .links .redes {
        text-align: center;
    }
    footer .links .redes ul li {
        text-align: center;
        font-size: 22px;
        padding-left: 0px;
    }
    footer .links .redes ul li i {
        font-size: 28px;
        position: relative;
        margin-top: -3px;
        left: -20px;
        text-align: center;
    }
}










h1 {
    font-family: 'RussoOne-Regular';
    font-size: 36px;
}
@media (max-width: 769px) {
    h1 {
        font-size: 30px;
    }      
}
h2 {
    font-family: 'HelveticaNeue-Thin';
    color: #FFF;
    font-size: 28px;
    font-weight: normal;
}
a {
    color: #CC2C2C;
    text-decoration: none;
}
a:hover, a:focus, a:visited, a:active {
    color: #9B1515;
    text-decoration: none;
}
p {
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
}
label, input, textarea, .btn {
    font-size: 16px;
}
.btn {
    color: #fff !important;
    border: none;
}
.btn-primary {
    background: #CC2C2C;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:visited, .btn-primary:active {
    background: #9B1515 !important;
    text-decoration: none;
}
.form-group select, .form-group input:focus, .form-group input:valid, .form-group input.form-file, .form-group input.has-value, .form-group textarea:focus, .form-group textarea:valid, .form-group textarea.form-file, .form-group textarea.has-value {
    color: #000;
    font-size: 16px;
}
button {
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    padding: 10px 100px;
}
.logo {
    position: absolute;
    z-index: 1000;
    top: 15px;
    left: 80px;
    width: 60px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.logo2 {
    position: absolute;
    z-index: 1000;
    top: 15px;
    left: 80px;
    width: 120px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
}
@media (max-width: 769px) {
    .logo {
        position: absolute;
        z-index: 1000;
        top: 10px;
        left: 15px;
        width: 40px;
        padding: 0;
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;
        background: #fff;
        border-radius: 100%;
        padding: 5px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}
.menu-button span, .menu-button::before, .menu-button::after {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.white {
    color: #fff !important;
}
.container-fluid {
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
}
.center {
    text-align: center;
}
.noP {
    padding: 0 !important;
}
.noM {
    margin: 0 !important;
}
.box {
    padding: 10px 50px;
}
@media (max-width: 769px) {
    .box {
        padding: 10px 30px;
    }
}
.titulo {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
}
.titulo h1 {
    margin-top: -10px;
}
.lineaBottom {
    width: 100px !important;
    height: 1px !important;
    background: #CC2C2C !important;
    padding: 0 !important;
    margin: 0 auto;
}
.slider {
    background: url(../img/fondo3.jpg) top center no-repeat;
	background-size: cover;
	height: 550px;
}
@media (max-width: 769px) {
    .slider {
        background: url(../img/fondo3.jpg) top center no-repeat;
        background-size: cover;
        height: 550px;
    }
}
.headerBackground {
	background: url(../img/fondo2.jpg) top center no-repeat;
	background-size: cover;
    height: 500px;
}
.headerBackground h1 {color: #fff;}
.headerBackground2 {
    background: url(../img/fondo1.jpg) center center no-repeat;
    background-size: cover;
    height: 450px;
}
.headerBackground2 h1 {color: #fff;}
.sect1 {
    background: url(../img/rojo.jpg) top center no-repeat;
	background-size: cover;
    padding: 20px;
}
.negro {
    background: url(../img/negro.jpg) top center no-repeat;
	background-size: cover;
    padding: 20px;
}



.sect2 {
    background: #000;
}
.sect2 .box {
    padding: 40px;
    font-size: 56px;
    background: #212121;
    color: #fff;
    text-align: center;
    height: 250px;
    transition: .5s;
}
.sect2 .servicio:hover,
.sect2 .servicio:focus,
.sect2 .servicio:active,
.sect2 .servicio:visited {
    background: #CC2C2C;
}
.sect2 .box h2 {
    font-size: 24px;
    text-transform: uppercase;
}
.sect2 .servicio1 {
    background: url(../img/servicio1.jpg) top center no-repeat;
	background-size: cover;
}
.sect2 .servicio2 {
    background: url(../img/servicio2.jpg) top center no-repeat;
	background-size: cover;
}
.sect2 .servicio3 {
    background: url(../img/servicio3.jpg) top center no-repeat;
	background-size: cover;
}
.sect2 .servicio4 {
    background: url(../img/servicio4.jpg) top center no-repeat;
	background-size: cover;
}
.sect2 .servicio5 {
    background: url(../img/servicio5.jpg) top center no-repeat;
	background-size: cover;
}
.sect2 .servicioTitulo {
    background: url(../img/servicioTitulo.jpg) top center no-repeat;
	background-size: cover;
}



.sect3 .box {
    height: 300px;
}

.sect3 .quienesSomos {
    background: url(../img/quienesSomos.jpg) center center no-repeat;
	background-size: cover;
}
.sect3 .quienesSomos .triangule {
    width: 0;
    height: 0;
    border-right: 50px solid #212121;
    border-top: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    right: 0;
    top: 100px;
}
.sect3 .boxNuestraMision {
    background: #212121;
    color: #FFF;
}
.sect3 .nuestraMision {
    background: url(../img/nuestraMision.jpg) center center no-repeat;
	background-size: cover;
}
.sect3 .nuestraMision .triangule {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 50px solid #fff;
    border-bottom: 50px solid transparent;
    position: absolute;
    left: 0;
    top: 100px;
}
@media (max-width: 769px) {
    .sect3 .box {
        height: auto;
    }
    .sect3 .quienesSomos, .sect3 .nuestraMision {
        height: 300px;
    }
    .triangule {
        width: 0;
        height: 0;
        border-right: 50px solid transparent !important;
        border-top: 50px solid transparent !important;
        border-left: 50px solid transparent !important;
        border-bottom: 50px solid transparent !important;
        position: absolute;
        right: none;
        top: none;
        bottom: 0;
    }
}




.sect4 {
    color: #212121;
    padding-bottom: 30px;
}
.sect4 .box {
    height: 240px !important;
    text-align: center;
}
.sect4 .solucion {
    padding: 0;
}
.sect4 .solucion h1 {
    font-size: 24px;
    color: #4A4A4A;
    text-align: center;
}
.sect4 .solucion p {
    width: 280px;
    margin: 0 auto;
}
.sect4 .solucion p span {
    font-weight: bold;
    font-family: helvetica;
    color: #CC2C2C;
}
.sect4 .box .img {
    height: 70px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
}



.sect5 .box {
    height: 350px;
    padding: 70px 100px;
}
@media (max-width: 769px) {
    .sect5 .box {
        height: auto;
        padding: 30px 30px;
    }
}
.sect5 .box h1 {
    margin-bottom: 5px;
}
.sect5 .box h2 {
    font-family: "HelveticaNeue-Light";
    text-transform: uppercase;
    font-size: 20px;
    color: #212121;
    margin-top: 0;
}
.sect5 .mod1 {
    background: url(../img/mod1.jpg) top center no-repeat;
	background-size: cover;
}
.sect5 .mod2 {
    background: url(../img/mod2.jpg) center center no-repeat;
	background-size: cover;
}
.sect5 .mod2 .triangule {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 50px solid #BBBFC4;
    border-bottom: 50px solid transparent;
    position: absolute;
    left: 0;
    top: 140px;
}
.sect5 .mod3 {
    background: url(../img/mod3.jpg) top center no-repeat;
    background-size: cover;
    color: #fff;
}
.sect5 .mod3 h2 {
    color: #fff;
}
.sect5 .mod3 .triangule {
    width: 0;
    height: 0;
    border-right: 50px solid #000;
    border-top: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    right: 0;
    top: 140px;
}
.sect5 .mod4 {
    background: url(../img/mod4.jpg) top center no-repeat;
    background-size: cover;
    color: #fff;
}
.sect5 .mod4 h2 {
    color: #fff;
}
.sect5 .mod4 .triangule {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #fff;
    border-left: 50px solid transparent;
    border-bottom: 50px solid transparent;
    top: 0;
    margin: -70px auto;
    margin-bottom: -30px;
}
.sect5 .box ul {
    padding: 0;
}
.sect5 .box ul li {
    list-style: none;
    font-size: 16px;
    border: 1px solid;
    margin-bottom: 3px;
    text-align: center;
    padding: 3px;
}


.sect6 {
    padding: 50px 0;
    background: #F4F4F4;
}
.sect6 img {
    border-radius: 100%;
    border: 2px solid #FFF;
    margin-bottom: 20px;
}
.sect6 i {
    font-size: 30px;
    color: #212121;
}



.contacto .box {
    height: 500px;
}
.contacto .contactoFondo {
    background: url(../img/contacto.jpg) top center no-repeat;
    background-size: cover;
}
.contacto .contactoBox h1 {
    margin-bottom: 10px;
}
.contacto .contactoBox h2 {
    color: #212121;
    font-size: 22px;
    margin-top: 0;
}
.contacto .contactoFondo .triangule {
    width: 0;
    height: 0;
    border-right: 100px solid #FFF;
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 100px solid transparent;
    position: absolute;
    right: 0;
    top: 160px;
}



.interno .sect1 h1 {
    color: #FFF;
}
.interno .interno2 {
    padding: 50px 0;
}
.interno .interno2 .nav-tabs {
    border-bottom: 2px solid #212121;
    background: #CC2C2C;
    margin-top: 50px;
}
.interno .interno2 .nav-tabs>li>a {
    margin-right: 0;
    line-height: 1.42857143;
    border: 0;
    border-radius: 0;
    color: #fff;
}
.interno .interno2 .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #212121;
    border: 0;
    border-bottom-color: transparent;
}
.interno .interno2 .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #212121;
}
.interno .interno2 .nav-tabs>li>a.active {
    background: #212121;
}
.interno .interno2 .tab-content {
    padding: 20px 0px;
}
.interno .interno2 .tab-content h3 {
    font-family: 'RussoOne-Regular';
    font-size: 24px;
}
.interno .interno2 .cuadros {
    padding: 20px 0px;
    text-align: center;
    width: 320px;
    margin: 0 auto;
    height: 230px;
}
@media (max-width: 321px) {
    .interno .interno2 .cuadros {
        margin-left: -20px;
        width: 300px;
    }
    .interno .interno2 .cuadro1, .interno .interno2 .cuadro2 {
        width: 130px !important;
    }
}
.interno .interno2 .cuadros h1 {
    font-size: 24px;
}
.interno .interno2 .cuadro1 {
    border: 1px solid #212121;
    width: 140px;
    padding: 10px;
    text-align: center;
    float: left;
}
.interno .interno2 .cuadro1 p {
    padding: 20px;
    background: #E6E6E6;
    color: #000;
    text-align: center;
    font-size: 12px;
}
.interno .interno2 .cuadro2 {
    border: 1px solid #212121;
    width: 140px;
    padding: 10px;
    text-align: center;
    float: right;
}
.interno .interno2 .cuadro2 p {
    padding: 20px;
    background: #E6E6E6;
    color: #000;
    text-align: center;
    font-size: 12px;
}
.interno .interno2 .cuadros span {
    font-size: 38px;
    position: absolute;
    margin-left: -75px;
    margin-top: 50px;
}
.interno .interno2 .img {
    background: url(../img/interno.jpg) top center no-repeat;
    background-size: cover;
    height: 400px;
}
.interno .interno2 .imgSol {
    margin-top: 50px;
}
.interno .interno2 .imgProduct {
    margin: 0 auto;
    margin-top: 50px;
    background: #212121;
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 100%;
}
@media (max-width: 769px) {
    .interno .interno2 .imgSol {
        margin-top: 0px;
    }
    .interno .interno2 p {
        margin-bottom: 20px;
    }
}


.interno .interno3 {
    background: #212121 !important;
}
.interno .interno3 .titulo {
    padding: 20px 0;
    margin-bottom: 20px;
}
.interno .interno3 h1 {
    color: #fff !important;
}





.internoGeneral h2 {
    color: #212121;
    text-align: center;
}